In [1]:
# List of high schools
high_schools = ["Hernandez High School","Figueroa High School","Wilson High School","Wright high School" ]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright high School

In [2]:
# A dictionary of high schools an dthe type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School", "Figueroa high School", "Shelton High School", "hernandez High School", "Griffin High School", "Wilson high School", "Cabrera high School", "Bailey High School", "Holden high School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
# Add the Pandas dependency
import pandas as pd

In [5]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa high School
2       Shelton High School
3     hernandez High School
4       Griffin High School
5        Wilson high School
6       Cabrera high School
7        Bailey High School
8        Holden high School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa high School", "Shelton High School", "hernandez High School", "Griffin High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [9]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [10]:
#add the list to a new Dataframe
school_df["School ID"] = school_id
#print the DataFrame
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
#Create a dictionary of information on high schools
high_school_dict = {"School ID" : "school_id", "School_name" :"school_name", "type" : "type_of_school" }
#school_df.columns
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [16]:
#School_df.index

In [17]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name = ["Huang High School", "Figueroa high School", "Shelton High School", "hernandez High School", "Griffin High School", "Wilson High School", "Cabrera high School", "Bailey High School", "Holden High School", "Pena High School", "Wright Hight School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter","Charter", "Charter" "District", "Charter", "Charter", "Charter", "District", "District", "District" "Charter"]

In [18]:
schools_df = pd.DataFrame()

In [1]:
#add the list to a new Dataframe
school_df["School ID"] = school_id
#print the DataFrame
school_df

NameError: name 'school_id' is not defined